In [1]:
#INTRODUCTION
# Greetings everyone. This is Yash Singh from CSE IInd sem. This session is going to incorporate a crash course of the Python programming language. This however isn’t going to be an overhaul of the entire language – but just an overview of it and how well it translates to the user. If you're a beginner - I would sincerely recommend trying out logistics and algorithm understanding in a more low level language like C or C++ before you start with python - especially in the field of data science. So, before beginning, there's an important clearance that people with understanding of the basics should only attend it. However, if you are well versed with the code base of any language and the paradigm the execution data follows, you'll be well onboard with it. If you already have some understanding of python, and have coded in it, feel free to interrupt me in between and correct me where I might be going wrong. For the learners here, if you got any doubts, you can cut in between and shoot your queries.

In [4]:
# To begin with - we'll be covering these aspects of Python programming -
# Numbers
# Strings
# Formatted Output
# Lists
# Dictionaries
# Booleans
# Tuples and Sets
# Comparison Operators
# Control structures - if-else
# Iterations - for, while
# range function
# Lists comprehension and output console
# Functions
# Lambda Expressions
# Map function
# Filter function

# I might go out of order in between, either to cover an essential aspect or just to elaborate the relations between some of these fields. However, I'll try to ensure that everything is well addressed.

In [7]:
# Now we shall go over the basics and configurations to begin with this session. Before I start, I want to ensure that all of you have anaconda-python 3 setup on your system along with any code editor of your choice - preferably VSCode. Make sure that you turn off telemetry if you're using VSCode. That's just a step towards user data privacy. Now, once you have both these tools configured/setup properly, what you're going to want to do is make sure anaconda is in your PATH variable. In linux, you can simply do this by exporting the PATH as export PATH=${PATH}:/<location>. And try not to use relative paths. Try to use absolute path. In windows, there might be a way to change path variable from settings > although I am not too familiar with it.
# Eitherways, once you're done with that, start VSCode. And press Ctrl + Shift + P, and search for interpreter like me. Now don't pick the default python base which might be installed on your system. But go ahead, and from the list, choose the anaconda environment. Now, Again, press Ctrl + Shift + P for the VSCode prompt and search jupyter notebook. Click on this highlight, and it will start building up your notebook. It may take some time to initialize anaconda environment - to a max of about 5 mins on slower machines. But cmoparatively, it should be fast - especially on a linux file system because of much comprehensive tracker balancing. Once this is done, you'll get your cell - or the code cell, this is where you're supposed to write code, and then we'll guide you through the shortcuts which are comprehensively essential if you're going to be working with jupyter notebooks.
# Now, another way to create and manage a notebook is by actually instantiating it beforehand, and then starting it with VSCode. Now, open your terminal inside VSCode (or powershell if you're a windows user) by pressing Ctrl + back ticks or the tilde sign which should be the first key on the second row of your computer. ALternatively, you can again goto console using Ctrl + Shift + P and type terminal, and it should open up the same. Then navigate to the desired directory where you want to create this project, and then type touch <filename>.ipynb which is the extension of any jupyter notebook. Note that we are using jupyter rather than a file based approach or directly the console just because it's more convenient for beginners to understand, and jupyter is quite interactive to the point where it returns to the user - the console output without a print statement. We'll see how that works in just a while. Now, once you've done that, you can either drag and drop that file from your file explorer to the VSCode editor, or you can simply do code <filename>.ipynb and it should open that up in your editor. Note that, this again might take a little while if anaconda daemon is not already active on your system, as it requires some time to start the jupyter server and activation python kernel. That is something we'll talk about later in perhaps another session where we deal with activation functions and kernel management. Now that we've our file ready in front of us, let's begin with the first line of code.

In [8]:
# We'll start over with the numbers and then continue.
# Here, to execute a cell of code, we press Ctrl + Enter or Command + Enter on mac. To run the current cell and goto the next cell or create a new cell, we press Shift + Enter or Command + Shift + Enter on Mac. To run the current cell and insert a new cell just below it, we use Alt + Enter or Command + Alt + Enter on Mac. Having that out of the way, let's begin

In [10]:
# Let's start with basic arithmetic. Python has only two number type - int and float
# You can just write things that output directly to the console. Like for an integer

In [11]:
1 # It will give the integer here to the console system.

1

In [12]:
1.0 # This will give the float to the console system.

1.0

In [18]:
# Now one thing to note in Python which may be seemingly unlike other languages, since python uses dynamic data types, it prefers floating division compared to other languages or it's own predeessor Python 2. What that means is, normally when we run let's say 
5 / 2

2.5

In [17]:
# It should give us the value of 2, but it's giving 2.5 - which is a float, and unlike a majority of other languages. Now to do integer division in python, we have to use a slightly different approach here.
5 // 2

2

In [19]:
# This will do a recurring integer division and the moment it reaches decimal, it will tend to cancel out the scope beyond that, and return the integer equivalent.

In [20]:
# For basic sum, we can do
1 + 2

3

In [21]:
# Which will give us the output. For product, it's again
3 * 4

12

In [22]:
# Which returns 12. For remainders again, this is very similar or native to any other programming approach, for example
12 % 3

0

In [23]:
# Which returns 0 as usual. Now to calculate the exponential, python uses an operator instead of a library function to deal with it. Let's say we have to calculate 2 raised to the power 4, then we can simply do
2 ** 4

16

In [24]:
# Which will essentially multiple 2 to itself 4 times and give 16.
# Like other programming languages, python follows order or precedence, and we can enhance the scope with the help of parentheses. Mathematically :
(2 + 3) * 4

20

In [25]:
# Which does 2 + 3 = 5 multiplied by 4 giving 20

In [26]:
# Now for variables, as I already said, python deals with dynamic data types, so any variable name can be assigned any type of data as long as it's ensured that the overrides aren't otherwise restricted. Normally, we can do
x = "Hello"

In [27]:
# And now x stores hello, but since this line of code isn't returning anything to the console, jupyter doesn't outputs anything. However, now we can perform calculations based on this. For example
x + x

'HelloHello'

In [28]:
x = 6
x ** x

46656

In [29]:
# Now, like many languages, you cannot start off your variable name with numbers or special characters. It should normally start with a lowercase word although uppercase isn't an issue either. Now, let's start with strings.

In [30]:
#Now, anything that we write after a # is a comment.

In [31]:
# There are two ways to create a string. First is to use single quotes, and second to use double quotes. The only essential difference is the use case you put it up to. Now, let's say you're aware that your string is going to use a lot of single quotes, in that case, enclose the string within double quotes, what that will do is basically override single quote's operator rule as a basic character. And then you can use it within. Same goes for single quotes - when you've to use double quotes. 
st = 'Hello "Sir", please come in'

In [32]:
st = "Hello 'sir', please come in"

In [33]:
# Now in cases, where you have to use both of em, it's idea to just pick the one with the lesser count, and escape the other character as :
st = 'Hello \'Sir, how are you doing\''

In [34]:
# For both the preceding and succeeding single quotes, we escaped it using backslash.
# Let's start with printing texts. In jupyter, as I discussed earlier, it just outputs to the console - which is printed for the user, however in a file based programming approach - which is the most standardized way of coding, the console wouldn't natively log to the output stream - which is visible to the user, in such cases, the print function is especially helpful to log something or prompt. Normally to print something, we use the function print within which any data value readable can be passed.
print('Hello')

Hello

In [35]:
print(st)

Hello 'Sir, how are you doing'

In [36]:
# Let's define two variables :
n = 100
string = 'Yash'
# Now to print this within a format, I would have to specify the order of formatting as here:
print('My name is {} and my lucky number is {}'.format(string, n))

My name is Yash and my lucky number is 100

In [37]:
# These empty curly braces are called memory value placeholders. when the format rule is called for a string (note that it's called inside the print function - and hence is not a sub-function call to the print function itself, but only to the string class objects), it fetches value from that variable's memory location, and passes it to the placeholder. Just consider this example, if you somehow enterchange n and string's order, instead of name it'll print your number and same goes for the number. So, the placeholders are loosely coded - which means they can be transpiled to any data type which is supported by the output stream.

In [45]:
# Now another way to format a string is by directly passing variable names to the placeholder and then accessing actual values or dynamically defining the value on call. For example
print('My name is {string} and my lucky number is {n}'.format(string = 'Yash', n = 15))
# Since the format order isn't required in this case as the placeholders contain the identifier name, you can use them as many times as you want without having to worry about the order of the format call.

My name is Yash and my lucky number is 15

In [46]:
# Let's work with string indexing. Let's instantiate a variable 
s = 'hello' # here, each letter corresponds to an index which starts from 0 and we can grab any particular character or a sequence of characters from the string. If we try something beyond the length of the string, we get an error. For example =
s[0]

'h'

In [47]:
s[10]

IndexError: string index out of range

In [49]:
# see, that yields a string index out of range or out of bounds (java guy issue)
# Now, python follows a backward tracing rule in strings and other reference types. What that means is we can use negative notation to fetch strings backwards. For example
s[-1]

'o'

In [54]:
# We can even specify the length of the stream grab using colon specifier. This is called slice notation
s[0:-1]

'hell'

In [52]:
# Note that the last word isn't included, and if you do s[0:0], that won't work either because that's where the priority association is assigned from left to right normally like other programming languages, and the negative indexing fails
s[0:0]

''

In [55]:
# Hence to access from a particular index to the end, you can do it like this:
s[0:]

'hello'

In [57]:
# The blank space automatically recognizes the EOL and fetches the results upto that. Again, it works backwards as well. For example, if you wanna grab something before a particular index, then you can do
s[:4]

'hell'

In [59]:
# So the idea is to grab everything upto, but not including the character at index 4
# This might be confusing a little in the beginning, but realize that, the upper limit is never included, but the primary limit is always included.
# This notation will help later on when we work with dictionaries, tuples, sets and especially lists.

In [61]:
# Normally, since this is reference to the string object type, you don't necessarily need to assign to a variable first. It can be directly called and delimited when required.
'Hello'[0:4]

'Hell'

In [62]:
# Let's start with list now. Lists are nothing but a collection of values of all sorts of data type. You can have a list entirely comprising of integers. You can have a mixed list which contains characters, integers, strings, litearlly anything that can again - be outputted to the console itself. For example
[1, 'a', 'hello']

[1, 'a', 'hello']

In [63]:
# This list contains data types like int char, and even strings. To assign a list is to basically give yet another random variable because of Python's dynamic initialization process.
l = ['a', 'b', 'c']

In [64]:
print(l) # Now if you print out l, that's what you'll get, the whole list.

['a', 'b', 'c']

In [65]:
# If you remember from the strings section, we can follow the same set of indexing approach or logistic to this form as well. A list again handles a format from index 0 to index n where the n+1th data has the nth index. Let's create a list here to understand it a bit more clearly.
my_list = ['a', 'b', 'c']
# Now, let's say you wanna add a letter or another data to the list, you can use the .append function. For example,
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

In [70]:
# Now as you see, you've the letter 'd' there as well. You can use the same slice notation to grab a particular section of the list like in strings. Although remember that strings are immutable unlike lists. What that means is, let's say in this list, I wanna change the letter b at index 1 to letter f, then I can do something like
my_list[1] = 'f'
my_list

['a', 'f', 'c', 'd']

In [72]:
# However, in strings, we cannot do that. Let's try and see what happens if I do attempt that.
name = "Jake Paul"
name[2] = 'n'

TypeError: 'str' object does not support item assignment

In [73]:
# If we try to assign n to the name here, so as to obtain the name Jane Paul instead, it will give us the type error that 'str' object doesn't support type assignment. Hence, it's immutable by default.
# Lists also have the insert function to insert a particular data at a specified index, and it will shift the rest of the data rightways associatively. What that means is, well let's grab our earlier list and try to add a letter k before f that we assigned last, we can do that using
my_list.insert(1, 'k')
my_list

['a', 'k', 'f', 'c', 'd']

In [74]:
# Now, we have k at index 1 and the rest of the data have their indexes shifted by +1 to the right. Similarly, like strings, we can find the index of a particular data or vice versa using the function index
my_list.index('a')

0

In [75]:
# Which returns 0 as the index of the first letter is 0.
# Like the broad scope definition, if we want to grab something from k afterwards, we can do that as well
my_list[2:]

['f', 'c', 'd']

In [77]:
# And this will fetch everything at index 2 and afterwards. Again remember that the lower bound is always accountable for, but for the upper bound, we take upper_bound - 1
# One very interesting aspect of lists is nesting of lists, practically we can have as many dimensional lists as we want, and this is especially helpful in machine learning models where we have to work with temporal nodes and intermediates, about which we'll discuss later. Lemme reannotate my previous list with some new data
my_list = [1, [2, 3, 4], 2, 3, 4]
# If you want to access the second element of the internal list, you can do something like 
my_list[1][1] # Since the second list inside itself is at the 1st index, and this would give us the value 3
# If you want to access the whole internal list itself, you can just define index at 1 and it'll give you that
my_list[1]

[2, 3, 4]

In [78]:
# This nesting could go on and on, without any hindrance, but as the nesting tree grows, the complexity of the problem and it's hierarchical management grows significantly. Again, you can mutate the internal elements of the intermediate list and so on.

In [85]:
# Now, let's start with dictionary. We do that in python by using curly braces, inside which the leading element always holds the key and the preceeding element holds the value corresponding to that key. Now, note that a dictionary can have as many elements as you want, each delimited by a comma. Let's instantiate one
d = {'#1': 'You are topper', '#2': 'Failure'}
# Unlike lists, we don't have an indexing rule here, all we can do is pass the actual key itself, only then will the corresponding value to that key will be sent to the console. For example, to access Failure scheme, we have to provide the whole key #2
d[1]

KeyError: 1

In [87]:
# See, it's giving type error because there's no value corresponding to the key 1, and there's no indexing rule in dictionaries. So the right approach to access it would be to enter the key
d['#2']

'Failure'

In [89]:
# Now, you must understand that dictionary works like stacks. You can pop values from it, you can push to it, and so on... Now, just like lists, dictionaries can house any type of data, even lists within themselves. So, let's complicate the situation a little bit, let's pass a list to a key in a dictionary which holds a string, and we have to access the letter a from that string. 
d = {'key1': [1, 2, 'halllpppp']}
# To access the letter a, we must provide the key, followed by the index of the string, and then the index of the letter a itself. Dictionaries do not retain any pattern like lists.
d['key1'][2][1]

'a'

In [90]:
# The scope of these approaches might seem limited only, but there's numerous use cases for it, especially when you grow a industry grade application, it can be utilized in scaling, in web automation where these complex indexing are very important for grabbing tokens, cookie addresses and so on.

In [93]:
# We'll start with tuples now. To clear doubts, what are tuples? Well, remember lists, tuples are the same thing - a sequence of values inside parentheses, but the difference lies in the immutability factor of tuples. 
tup = (1, 2, 'a', 'b')
tup[1]

2

In [92]:
# But the value wouldn't mutate like in lists. Lemme improve here
tup[1] = 2

TypeError: 'tuple' object does not support item assignment

In [94]:
# Here we get a similar error like strings, which implies they're immutable. The use case lies in scopes where the values don't need to be changed. Let's say you've a student database record, which contains fields like name, roll number and aggregate percentage, then you'll need a tuple. why? Lemme show you
tup = ('Name', 'Roll', 'Grade')

In [95]:
# Notice that since we already have tup variable, it's not giving error. It's because we are not mutating the tuple itself, but redefining the value contained by that identifier tup.
# Here if someone attempts changing the value of any particular field or morph it, tuples wouldn't permit doing it, hencing making it more robust in the use case.

In [96]:
# Hence the only two differences between lists and tuples is that tuples uses parentheses while lists use blocks, and tuples are immutable, while lists support mutating.

In [97]:
# Discussing sets in python. Set as explained in discrete mathematics, is merely a collection of distinct elements under braces.
s = {1, 2, 1, 3, 4}

In [98]:
s

{1, 2, 3, 4}

In [102]:
# It overrides recurring elements and cancels them out. 
# If you have a list of elements with repeatition, you can just pass the whole list into the set function and reduce it to distinct elements only. For example,
l = [1, 2, 2, 3, 4]
set(l)

{1, 2, 3, 4}

In [105]:
# If you wanna add items to sets, you can use the add function call to add more elements, like
s.add(5)
s

{1, 2, 3, 4, 5}

In [106]:
# Now do note that, if we try appending the element 5 again, it won't throw an error, but it wouldn't really revise any changes to the preexisting set itself.
s.add(5)
s

{1, 2, 3, 4, 5}

In [107]:
# So, the set remains unchanged. The scope of usage of sets is very limited, and can easily be recreated in a list using a generator without having to use the library function, however having a pre-def alternate is not a bad idea.

In [108]:
# The comparing statements in Python use booleans unlike constants in some programming languages.
1 > 2

False

In [109]:
1 == 2

False

In [111]:
# So, just ensure that you're using the comparison operator, not the assignment operator, otherwise you might get in issues. You can combine these operators with logical operators to do so
1 > 3 and 2 > 3

False

In [112]:
# So, both the expressions are false, hence their and yields false.
1 < 3 & 2 < 3

True

In [114]:
# Now, note the difference between & and &&, we'll clear the difference more when we dive into conditional control structures.

In [116]:
# Let's start with conditional control structures then. For example consideration, let us use the if statement to print hello when x > y and so
x = 5
y = 10
if x > y:
    print('{} is greater than {}'.format(x, y))
else:
    print('{} is greater than {}'.format(y, x))

10 is greater than 5

In [118]:
# Remember in python, since you're not using any scope variance operators like braces, indentation is the essential part of the program, if you forget to add the indentation, it will either forget that loop there, wit 0 effect on the succeeding code or it will throw errors.
# Let's say we'll check multiple conditions
if 1 == 2 and 2 == 3:
    print("hello")
else:
    print("bye")

bye

In [120]:
# Remember in python, the logical and is given as 'and' while the bitwise and is given as a single & sign. If we want to translate the first if statement to a conditional check without operation, we can do something like
x > y and print('Hello')
# This way, it will only print hello if x > y, otherwise it will execute the first condition and stop there.

False

In [121]:
# If we use a bitwise and there instead, it would throw us a logical error since it cannot process both, however in more competitive languages or in shell coding, the difference is a bit more apparent.

In [122]:
# Let's start with loops here, we'll cover for loop and while loop. 
# To begin with, we'll just use the for loop over a list. Let's define one then
seq = ['a', 'b', 'c', 'd']

In [123]:
# Now this is going to be fairly similar to a generator. Which we'll discuss later on
for var in seq:
    print(var)

a
b
c
d

In [124]:
# Note that, var is just an identifier whose value changes everytime it iterates over the list 'seq'. Python's diverse adaption to dynamic data type instantiation permits this. You can basically replace it to use any variable of your choice, and use the same for operation within the scope of that for loop.
l = [1, 2, 3, 4, 5]
for x in l:
    print(x)

1
2
3
4
5

In [126]:
# And voila, it gives you the entire content of the list l
# Now, let's use the while loop to do the same
i = 1
while i < 5:
    print('i is {}'.format(i))

1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1
i is 1

KeyboardInterrupt:

In [129]:
# This is a jupyter feature, where it terminates the iteration manually when it encounters this, and it's very helpful for us. However, you shouldn't attempt this on a regular computer - especially a low -specced one, otherwise it would consume all the threads and may pose issues like freezing, RAM corruption or XZ compression halt.
# Now, to counter the infinite loop, we'll do something like
i = 1
while i < 5:
    print('i is {}'.format(i)) 
    i += 1

i is 1
i is 2
i is 3
i is 4

In [130]:
# And now you see here, the scope of i is limited by the while condition check. The moment it reaches i = 5, while terminates the iteration and it jumps out of the control of the loop. Do note that this works only with entry controlled loops like for or while. There's do-while loop which works over exit control, and it would still print i is 5, despite that condition because it checks for condition handle after executing the boyd of the statement.

In [133]:
# Now although this may seem arbitrary, we'll discuss a couple of functions within python which are very essential, and these help a lot with data manipulation.
# One such function is range. Many times, we have to iterate over a particular reference, but we don't know the length of that, in such cases, range plays a vital role. range function yields iteration from the initial index upto the final index. do note the final index isn't accounted for in the range function - something which we've seen a lot before in this paradigm.

In [134]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [135]:
# Here, as you'll see, the iterator runs from 0 (initial) to 4 (final - 1)

In [136]:
# This is a generator used as a short hand technique to iterate quickly over a particular ordeal. Let's say you want to generate a list of 1 to 100, then you can do that using list mask for the range from 0 to 101
list(range(0, 101))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [137]:
# Now, let's talk about list comprehension. List comprehension helps you save a lot of coding space, by using smart rules to bypass iterator statements without having to write them. Let's take an example
x = [1, 2, 3, 4]
# We'll create an empty list out
out = []
for data in x:
    out.append(data)

In [138]:
out

[1, 2, 3, 4]

In [141]:
# Here, it took a long way to do that by means of loop and then further appending. List comprehension helps ease this out.
# This sort of operation would be extremely common in Machine Learning because of appending weights, biases, or logics to a list. We can however easily translate this into list comprehension.
out = [] # to nullify the out list
out = [v for v in x] # You can also add operation here if you want to, like let's say the it should contain a table of n, then you can do n * v and it should print the table itself.

In [140]:
out

[1, 2, 3, 4]

In [142]:
# Now, it output the value of v in out list everytime it iterated over x lists's indexes. Again, you can do a lot of things with this if you have the idea of splitting data and then turning them into a short summary as per your convene.

In [143]:
# Let's get over with functions. Functions are basically a way of reducing repitation of code that follow a certain blueprint to yield the desired value. They are instantiated with the use of def keyword followed by the function name and parameter list. Let's say you've to calculate the factorial of the entered number.
def factorial(var):
    fact = 1
    for i in range(2, var + 1):
        fact *= i
    return fact
 # now this is the factorial function, if you want to calculate factorial of let's say 5, you can do this
print(factorial(5))

120

In [148]:
# If this was somehow a little complicated, you can try something like a more basic approach to it:
def greet(name):
    '''This is a documentation string - it greets to the name entered'''
    print('Hello ' + name)

greet('Yash')

Hello Yash

In [149]:
# Do understand that this is concatenation of strings.
# Now to review a function statement, you can simply write the name and then press ctrl + space on any platform to show what kind of data it accepts and what it does. Let's try it on one of our predef functions-like factorial
greet # It's essentially giving you the option to access the documentation and perhaps understand the reason why that function exists.

In [150]:
# Let's try on a function that is pre-def in the python library, for example the range function
range

range

In [152]:
# Now we will discuss map and filter functions...
# Remember the greet function which we defined just before which would print hello with the paramterized string passed to the function itself, we can reduce it to a more convenient expression using lambda representation.
# First, let's start with map function. Let's create a list
l = [1, 2, 3, 4]
# Let's say I want to output all the elements of this list multiplied by themselves to another list. Remember list comprehension, we can do something like
out = []
out = [x*x for x in l]

In [153]:
# And that will assign the square of each element from list l to the list out.
out

[1, 4, 9, 16]

In [154]:
# However, there's a much more accurate representation for this
out = []
# Let's reinitialize out to null list. To check with map, you can see the scope by typing map and then pressing Ctrl + Space
map

map

In [155]:
# Now, let's say we have a function that returns the square of the entered number, we can do something like
def square(var):
    return var*var

In [156]:
l = [1, 2, 3, 4]

In [157]:
# We have both the functions and the list now, now what we can do is very simple.
map(square, l)

In [160]:
# Now it created a map in that particular place in memory. Now to access the map as list, you can cast it as a list to another variable, let's say, the out list
out = list(map(square, l))

In [161]:
# Now if we output the out list here, we can see all the elements are squared here
out

[1, 4, 9, 16]

In [164]:
# But, there's a slight concern here. See, that nomatter what, we still need to sort of define a function, shouldn't there be an easier way to accomplish this? Well, let's check that one out. That's where lambda expression comes in play.
# Now that we have to write a function to calculate square, we can write that in one line using lambda expression.
lambda var:var * var
out = []
# If we write this now, we can again get the same thing, but here - note that we're essentially using lambda expression

In [165]:
# Since we don't have a function name for lambda expression, we can just assign it to any identifier here. For example
f = lambda var:var*var
out = list(map(f, l))

In [166]:
# Again it's correct, and it will yield the list from lambda obtained from map function cast, and assign that to the out list, which we can output as
out

[1, 4, 9, 16]

In [167]:
# Note that we can also write the expression itself within map instead of having to assign to a different variable, that is a redundant method for beginners to understand how the values flow over the course of the program, however for a learner, you can simply do that by writing it within map, lemme show you how. Let's take another empty identifier named sequence and populate it with values from map
seq = list(map(lambda var:var*var, l))

In [168]:
# Now, you can output seq as
seq

[1, 4, 9, 16]

In [173]:
# These expressions are something that we'll use a lot especially when working with numpy or pandas.
# Now lets discuss the filter function, it uses the same footprint as map, but has a different approach. Let's go ahead and call
seq = list(filter(lambda num: num%2 == 0, l))
# It will check whether the number in the list l satisfy the condition or not, and print only those out.

In [174]:
seq

[2, 4]

In [175]:
# We can have similar boolean expressions within filter which lists out those that satisfy a particular condition. Remember like map, filter also returns a filter at a given memory address which needs to be casted to the list reference type.

In [176]:
# Now let's start working with methods. Methods are calls you can make to object that mutate or return the variable referencing in the reference object itself. Essentially, they're just predef functions with a native call works. Let's go with strings. We have
string = 'Hello world'
# Now, if we do a dot and tab, we can list all the functions pertaining to this object type
string.split()

['Hello', 'world']

In [178]:
# This will delimit the string and tokenize it to list type with whitesapce as the delimiter.
# Similarly, although there's tonnes of functions, we don't have time to dive into that. So we can do
string.upper()

'HELLO WORLD'

In [179]:
# Which will give us upper casing and so on. Now, these may seem relatively feeble methods, however when working with NLP, case handling and co-referencing logistics, we can they're extremely valuable.
# Do note that the split method for strings contains a dynamic delimiter tokenizer. What that means is it will take a random delimiter from your end, and then tokenize the texts based on that. Let's say we have a text like
st = 'Hello world. This is awesome. Please delimite by the letter \'a\' when found'
st.split('a')

['Hello world. This is ',
 'wesome. Ple',
 "se delimite by the letter '",
 "' when found"]

In [ ]:
# So, as you can see, the sequence of characters is tokenized by the delimiter character a